{% extends "layout.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('connect', 'Hi user');
    });
    socket.on('user joined notification', function(data) {
        document.getElementById('currentUsers').innerHTML+=("USER: " + data['username'])
        alert("user joined chat with data: "+data['username'])
    });

</script>
<h1>Hello {{ username }}</h1>
<div id='currentUsers'>Currently Active Users: </div> <br>
<div id='posts'>Chat: </div>
<form>
    <input type="text" placeholder="Type a post!">
    <button type="submit">Send post</button>
</form>
{% endblock %}