<!DOCTYPE html>
<html>
<head>
<title>Login Page!</title>

<link rel="stylesheet" type="text/css" href="login.css">
<!-- <script type="text/javascript" src="login.js"></script> -->

</head>
<body>
  <h1>Ultimate CSE 312 Project!</h1>
  <br><br>
  <h2>Login Here!</h2>
  <form action="/login" id="info-login" method="post" enctype="multipart/form-data">
    <label for="user">Username:</label><br>
    <input type="text" id="user" name="username"><br>

    <label for="pass">Password:</label><br>
    <input type="password" id="pass" name="password">

    <input type="submit" value="Login">
  </form>

  <h2>Don't have an account?</h2>
  <h2>Create one here:</h2>
  <a href="/register"><h3>Register</h3></a>


</body>

</html>
